#Contact
main {
    width: 95%;
    margin: auto;
    padding-left: 1%;
    padding-right: 1%;

    margin-bottom: 25px;
    padding-bottom: 0;


    background: rgb(241,250,238);
    background: linear-gradient(301deg, rgba(241,250,238,1) 0%, rgba(241,250,238,1) 40%, rgb(255, 255, 255) 100%);
    border-radius: 30px;
    min-height: 80vh;
}

form {
    text-align: justify;
    width: 80%;

    display: flex;
    font-size: 2rem;
    flex-direction: column;
    margin: auto;
    gap: 10px;
}

form * {
    flex-basis: 30px;
}

form button {
    width: 25%;
}

input{
    border: solid 1px;
    border-radius: 0.5em;
    height: 30px 
}
body{
    background-color: #1d3557;
}
